.col-md-4 {
    margin-top: 20px;
}

.card-title {
    text-transform: capitalize;
    font-size: large;
    font-weight: bolder;
}

.card-footer {
    background-color: white;
}

.cards {
    margin-bottom: 130px;
}

.card {
    color: #6E0404;
}

/* Animation for appearing on load */
@keyframes appearFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.container {
    animation: appearFromLeft 0.8s ease-in-out;
}